<web-app>
  <filter>
    <filter-name>CORSFilter</filter-name>
    <filter-class>com.nsgacademy.todo.filter.CORSFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>CORSFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>JsonFilter</filter-name>
    <filter-class>com.nsgacademy.todo.filter.JsonFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>JsonFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>
</web-app>
